.Editor {
  width: 100%;

  &:not(.dynamic-height) {
    height: 100%;
  }

  .monaco-editor {
    // Magic
    position: absolute;
  }

  .highlight {
    background-color: var(--mark-background-color);
  }

  .error-highlight {
    background-color: var(--mark-error-color);
  }

  .red {
    color: rgb(190, 16, 16);
  }

  .green {
    color: green;
  }

  textarea {
    flex: 1;
  }

  position: relative; // For ".overlay", below.
  &:has(.overlay) {
    // Available in chrome 105
    position: relative;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--form-element-disabled-background-color);
    opacity: var(--form-element-disabled-opacity);
  }
}
