.Editor {
  width: 100%;

  &:not(.dynamic-height) {
    height: 100%;
  }

  .monaco-editor {
    // Magic
    position: absolute;
  }

  .highlight {
    background-color: var(--mark-background-color);
  }

  .error-highlight {
    background-color: var(--mark-error-color);
    color: black;
  }

  .diff-highlight-line-1 {
    background-color: #ffebe9;
    color: black;
  }

  .diff-highlight-cell-1 {
    background-color: #ffc1c0;
    color: black;
  }

  .diff-highlight-line-2 {
    background-color: #dafbe1;
    color: black;
  }

  .diff-highlight-cell-2 {
    background-color: #aceebb;
    color: black;
  }

  textarea {
    flex: 1;
  }

  position: relative; // For ".overlay", below.
  &:has(.overlay) {
    // Available in chrome 105
    position: relative;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--form-element-disabled-background-color);
    opacity: var(--form-element-disabled-opacity);
  }
}
