.settings-dialog {
  max-width: 800px;

  [role="button"] {
    width: 100%;
  }

  .storage-mode-selection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .storage-option {
    border: 1px solid #888;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}