.settings-dialog {
  max-width: 900px;
  min-height: 80vh;

  [role="button"] {
    width: 100%;
  }

  .storage-mode-selection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .storage-option {
    border: var(--border-width) solid #888;
    border-radius: var(--border-radius);
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
  }
}