:root[data-theme="light"] {
  --status-info-bg-color: inherit;
  --status-success-bg-color: #aceebb;
  --status-warning-bg-color: #f4e5b1;
  --status-error-bg-color: #ffc1c0;
}

:root[data-theme="dark"] {
  --status-info-bg-color: inherit;
  --status-success-bg-color: #33792f;
  --status-warning-bg-color: #7a6500;
  --status-error-bg-color: #8e201a;
}

.StatusLine {
  padding: 0.25rem 0.5rem;

  &.status-info {
    background-color: var(--status-info-bg-color);
  }

  &.status-success {
    background-color: var(--status-success-bg-color);
  }

  &.status-warning {
    background-color: var(--status-warning-bg-color);
  }

  &.status-error {
    background-color: var(--status-error-bg-color);
  }
}
