[role="tablist"] {
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--card-border-color);
  --border-empty: var(--border-width) var(--border-style)
    var(--card-background-color);
  --tab-count: 5;
  --spacing-tab-edge: calc(var(--block-spacing-horizontal) / 2);
  display: grid;
  grid-template:
    min-content 1fr /
    var(--spacing-tab-edge) repeat(var(--tab-count), min-content) 1fr;
  height: 100%;
}

[role="tablist"]::after,
[role="tablist"]::before {
  content: "";
  display: block;
  border-bottom: var(--border);
  min-width: var(--spacing-tab-edge);
  grid-row: 1;
}

[role="tablist"]::before {
  order: -1;
}

[role="tablist"]::after {
  order: 1;
  // flex: 1;
  grid-column-end: -1;
}

[role="tab"] {
  border: var(--border-empty);
  border-bottom: var(--border);
  order: 0;
  height: min-content;
  grid-row: 1;
  white-space: nowrap;
}

label[role="tab"],
[role="tab"] label {
  /* Ensure the padding is on the label, so the entire area is clickable */
  padding-top: var(--form-element-spacing-vertical);
  padding-bottom: calc(var(--form-element-spacing-vertical) / 2);
  padding-left: var(--form-element-spacing-horizontal);
  padding-right: var(--form-element-spacing-horizontal);
}

[role="tab"]:hover {
  --border-color: var(--secondary-color);
  border: var(--border);
}

[role="tab"]:has(:focus) {
  --border-style: dotted;
}

[role="tab"]:has(:active) {
  --border-style: dotted;
}

[role="tab"] [type="radio"] {
  /* Leave the radio button focusable, but not visible. Copied from .screen-reader-text */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

[role="tab"][aria-selected="true"] {
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border-empty);
}

[role="tab"]:has(:checked) {
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border-empty);
}

[role="tabpanel"] {
  display: none;
  // order: 2;
  grid-area: 2 / 1 / span 1 / -1;
}

[role="tab"][aria-selected="true"] + [role="tabpanel"] {
  display: block;
  flex-basis: 100%;
}

[role="tab"]:has(:checked) + [role="tabpanel"] {
  display: block;
  flex-basis: 100%;
}
