@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

ul.icon-list {
  margin-right: 0.4rem;

  @media (max-width: 576px) {
    overflow: auto;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin: 1.2rem 0.6rem;
    cursor: pointer;

    --raise: -20px;
    --time: 0.33s;

    span,
    a {
      position: relative;
      top: 0;
      transition: var(--time);
    }

    a {
      opacity: 0;
    }
  }
}
