@layer user {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }

  :root {
    --line-height: 1.25;
    /* 1.5 */
    --spacing: 0.25rem;
    /* 1rem */
    --typography-spacing-vertical: 1.15rem;
    /* 1.5rem */
    --grid-spacing-horizontal: var(--spacing);
    --grid-spacing-vertical: var(--spacing);
    --form-element-spacing-vertical: 0.15rem;
    /* .75rem */
    --form-element-spacing-horizontal: 0.25rem;
    /* 1rem */
    --font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size-monospace: 16px;
    --font-family-monospace: "JetBrains Mono", source-code-pro, Menlo, Monaco,
      Consolas, "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono",
      "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --card-border-color: black;
    --text-color: black;
    --mark-background-color: rgb(255, 230, 121);
    --mark-error-color: rgb(252, 169, 154);
    --light-grey: rgb(170, 170, 170);
    --file-picker-width: 400px;
  }

  @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
      --card-border-color: white;
      --text-color: white;
      --mark-background-color: rgb(30, 74, 109);
    }
  }

  [data-theme="dark"] {
    --card-border-color: white;
    --text-color: white;
    --mark-background-color: rgb(30, 74, 109);
  }
}

@layer component {
  .scroll-x {
    overflow-x: auto;
  }

  .scroll-y {
    overflow-y: auto;
  }

  code,
  kbd,
  .font-monospace {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-monospace);
  }

  del {
    text-decoration: none;
  }

  textarea {
    overflow: scroll;
    white-space: pre;
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-monospace);
  }

  article.fill {
    padding: 0;
    margin: 0;
  }

  article.no-shadow {
    box-shadow: none;
  }

  // Tighten up panel articles
  article.panel {
    border: solid var(--border-width) var(--card-border-color);
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    > header {
      padding: 0;
      margin: 0;
      font-weight: bold;
      border-radius: 0;
    }

    > header > *:first-child {
      padding: 0 var(--block-spacing-vertical);
    }

    main {
      flex: 1;
    }
  }

  // Tighten up accordian headers
  details {
    margin-bottom: 0;
    padding-bottom: 0;

    > summary {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      background-color: var(--card-sectionning-background-color);
      padding: calc(var(--block-spacing-vertical) * 0.66)
        var(--block-spacing-horizontal);
      font-weight: bold;
    }

    > summary > *:first-child {
      flex: 1;
      padding: 0 var(--block-spacing-horizontal);
    }
  }

  #root {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    > main {
      overflow: hidden;
    }

    > footer {
      border-top: 1px solid var(--card-border-color);
      background-color: var(--card-background-color);
      padding-top: calc(var(--block-spacing-vertical) / 2);
      padding-left: var(--block-spacing-horizontal);
      align-items: baseline;
    }
  }

  nav :is(ol, ul) {
    margin-right: 0;
  }

  nav li {
    padding: 0 var(--nav-link-spacing-horizontal);
  }

  td {
    vertical-align: top;
  }
}
