// https://github.com/picocss/pico/pull/211/files#

[data-tooltip] {
  &:focus {

    &::before,
    &::after {
      opacity: 0;
    }
  }

  &:hover {

    &::before,
    &::after {
      opacity: 1;
      text-wrap: wrap;
      text-align: start;
    }
  }

  &[data-placement="top"]::before,
  &[data-placement="top"]::after {
    display: block;
    z-index: 9999;
    position: fixed;
    left: var(--tooltip-x, 50%);
    top: var(--tooltip-y, 0);
    padding: 0.25rem 0.5rem;
    overflow: visible;
    max-width: 300px;
    transform: translate(-50%, calc(-100% - 0.25rem));
    border-radius: var(--border-radius);
    background: var(--tooltip-background-color);
    content: attr(data-tooltip);
    color: var(--tooltip-color);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: 0.875rem;
    text-decoration: none;
    text-overflow: ellipsis;
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    transition: opacity 0.2s ease;
  }

  &[data-placement="top"]::after {
    padding: 0;
    transform: translate(-50%, -0.3rem);
    border-top: 0.3rem solid;
    border-right: 0.3rem solid transparent;
    border-left: 0.3rem solid transparent;
    border-radius: 0;
    background-color: transparent;
    content: "";
    color: var(--tooltip-background-color);
  }

  &[data-placement="bottom"] {

    &::before,
    &::after {
      position: fixed;
      left: var(--tooltip-x, 50%);
      top: var(--tooltip-y, 0);
      transform: translate(-50%, 0.25rem);
      z-index: 9999;
      max-width: 300px;
    }

    &:after {
      transform: translate(-50%, -0.3rem);
      border: 0.3rem solid transparent;
      border-bottom: 0.3rem solid;
    }
  }

  &[data-placement="left"] {

    &::before,
    &::after {
      position: fixed;
      left: var(--tooltip-x, 0);
      top: var(--tooltip-y, 50%);
      transform: translate(calc(-100% - 0.25rem), -50%);
      z-index: 9999;
      max-width: 300px;
    }

    &:after {
      transform: translate(0.3rem, -50%);
      border: 0.3rem solid transparent;
      border-left: 0.3rem solid;
    }
  }

  &[data-placement="right"] {

    &::before,
    &::after {
      position: fixed;
      left: var(--tooltip-x, 0);
      top: var(--tooltip-y, 50%);
      transform: translate(0.25rem, -50%);
      z-index: 9999;
      max-width: 300px;
    }

    &:after {
      transform: translate(-0.3rem, -50%);
      border: 0.3rem solid transparent;
      border-right: 0.3rem solid;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &[data-placement="top"] {
      &:hover {

        &::before,
        &::after {
          animation-duration: 0.2s;
          animation-name: tooltip-slide-top;
        }

        &::after {
          animation-name: tooltip-caret-slide-top;
        }
      }
    }

    &[data-placement="bottom"] {
      &:hover {

        &::before,
        &::after {
          animation-duration: 0.2s;
          animation-name: tooltip-slide-bottom;
        }

        &::after {
          animation-name: tooltip-caret-slide-bottom;
        }
      }
    }

    &[data-placement="left"] {
      &:hover {

        &::before,
        &::after {
          animation-duration: 0.2s;
          animation-name: tooltip-slide-left;
        }

        &::after {
          animation-name: tooltip-caret-slide-left;
        }
      }
    }

    &[data-placement="right"] {
      &:hover {

        &::before,
        &::after {
          animation-duration: 0.2s;
          animation-name: tooltip-slide-right;
        }

        &::after {
          animation-name: tooltip-caret-slide-right;
        }
      }
    }
  }
}

@keyframes tooltip-slide-top {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide-top {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltip-slide-bottom {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide-bottom {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltip-slide-left {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide-left {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltip-slide-right {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide-right {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}