:root {
  --font-family-monospace: var(--vscode-editor-font-family);
}

button {
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  border: 0;
  padding: 0;
  width: 1rem;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

button[disabled] {
  opacity: var(--disabled-opacity);
  background-color: var(--vscode-button-hoverBackground);
}

fieldset[role="group"] {
  border: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

fieldset[role="group"] > label[role="button"] {
  /* fieldset[role="group"] > label:has(input[type="radio"]) { */
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  align-self: stretch;
  padding: 2px 1px;
}

fieldset[role="group"] button:first-of-type,
fieldset[role="group"] > label[role="button"]:first-of-type {
  /* fieldset[role="group"] > label:has(input[type="radio"]):first-of-type { */
  padding-left: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

fieldset[role="group"] button:last-of-type,
fieldset[role="group"] > label[role="button"]:last-of-type {
  /* fieldset[role="group"] > label:has(input[type="radio"]):last-of-type { */
  padding-right: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

fieldset[role="group"] > label[role="button"][aria-current="true"] {
  /* fieldset[role="group"] > label[aria-current="true"]:has(input[type="radio"]) { */
  background-color: var(--vscode-button-hoverBackground);
}

fieldset[role="group"] > label > input[type="radio"] {
  display: none;
}
