@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@400;700&display=swap");

@layer user {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :root {
    --line-height: 1.25; /* 1.5 */
    --spacing: 0.25rem; /* 1rem */
    --typography-spacing-vertical: 1.15rem; /* 1.5rem */
    --grid-spacing-horizontal: var(--spacing);
    --grid-spacing-vertical: var(--spacing);
    --form-element-spacing-vertical: 0.15rem; /* .75rem */
    --form-element-spacing-horizontal: 0.25rem; /* 1rem */
    --font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size-monospace: 16px;
    --font-family-monospace: "JetBrains Mono", source-code-pro, Menlo, Monaco,
      Consolas, "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono",
      "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --card-border-color: black;
    --card-box-shadow: 0;
  }

  @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
      --card-border-color: white;
    }
  }

  [data-theme="dark"] {
    --card-border-color: white;
  }
}

@layer component {
  code,
  kbd,
  .font-monospace {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-monospace);
  }

  textarea {
    overflow: scroll;
    white-space: pre;
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-monospace);
  }

  details {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  details > summary {
    display: flex;
    background-color: var(--card-sectionning-background-color);
    padding: calc(var(--block-spacing-vertical) * 0.66)
      var(--block-spacing-horizontal);
  }

  details > summary > *:first-child {
    flex: 1;
    padding: 0 var(--block-spacing-horizontal);
  }

  #root > footer {
    border-top: 1px solid var(--card-border-color);
    background-color: var(--card-background-color);
    padding-top: calc(var(--block-spacing-vertical) / 2);
    padding-left: var(--block-spacing-horizontal);
    align-items: baseline;
  }
}

@layer user {
  #root > header,
  #root > main,
  #root > footer {
    width: calc(100vw - (100vw - 100%));
    overflow-x: hidden;
  }

  #root > main {
    padding: 0;
  }
}
