function List.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push pointer 0
    return
function List.getData 0
    push argument 0
    pop pointer 0
    push this 0
    return
function List.getNext 0
    push argument 0
    pop pointer 0
    push this 1
    return
function List.print 1
    push argument 0
    pop pointer 0
    push pointer 0
    pop local 0
label List_0
    push local 0
    push constant 0
    eq
    not
    not
    if-goto List_1
    push local 0
    call List.getData 1
    call Output.printInt 1
    push constant 32
    call Output.printChar 1
    push local 0
    call List.getNext 1
    pop local 0
    goto List_0
label List_1
    push constant 0
    return
function List.dispose 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    eq
    not
    not
    if-goto List_2
    push this 1
    call List.dispose 1
label List_2
    push pointer 0
    call Memory.deAlloc 1
    push constant 0
    return