.ChipPage {
  > section {
    grid: auto / 2fr 1fr;

    > .pinouts {
      grid: min-content repeat(2, minmax(200px, 1fr)) / 1fr 1fr;

      > div:first-of-type {
        grid-column: 1 / span 2;
      }

      h2 {
        margin: 0 var(--nav-element-spacing-horizontal);
      }
    }
  }
}

@media (max-width: 992px) {
  .ChipPage > section {
    grid: auto / 1fr;
  }
}

@media (max-width: 576px) {
  .ChipPage > section > .pinouts {
    grid: auto / 1fr;

    > div:first-of-type {
      grid-column: 1 / span 1;
      order: 0;
    }

    > article:not(:nth-of-type(3)) {
      order: 1;
    }

    > article:nth-of-type(3) {
      order: 2;
    }
  }
}
