@use "../components/pico/button-group.scss";
@use "../components/pico/page.scss";

.ChipPage {
  --screen-size: calc(512px + calc(var(--block-spacing-horizontal) * 2));

  grid-template-rows: min-content auto;
  grid-template-columns: 1fr var(--screen-size) 1fr;
  // justify-content: center;
  margin: 0px;
  gap: 0;

  > article {
    box-sizing: content-box;
    border: var(--border-width) solid var(--card-border-color);
    border-radius: 0;
    margin: 0;

    > main {
      margin: 0 calc(-1 * var(--block-spacing-horizontal));
      margin-bottom: calc(-1 * var(--block-spacing-vertical));
    }

    &._test_panel > main .Editor {
      border-bottom: var(--border-width) solid var(--card-border-color);
    }
  }

  grid-template-areas:
    "sel sel sel"
    "hdl prt tst";

  ._selectors {
    grid-area: sel;
  }

  ._hdl_panel {
    grid-area: hdl;
    min-height: calc(var(--line-height) * 10rem);
  }

  ._input_panel {
    grid-area: ins;
  }

  ._output_panel {
    grid-area: ots;
  }

  ._internal_panel {
    grid-area: int;
  }

  ._test_panel {
    grid-area: tst;
    min-height: calc(var(--line-height) * 10rem);
  }

  ._visualization_panel {
    grid-area: vis;
  }

  ._parts_panel {
    grid-area: prt;
  }

  h2 {
    margin: 0 var(--nav-element-spacing-horizontal);
  }
}

@media (max-width: 1616px) {
  .ChipPage {
    grid-template-columns: 1fr var(--screen-size);

    grid-template-areas:
      "sel sel"
      "hdl prt"
      "tst tst";
  }
}

@media (max-width: 1074px) {
  .ChipPage {
    grid-template-columns: 1fr;

    grid-template-areas:
      "sel"
      "hdl"
      "prt"
      "tst";
  }
}
