@use "../components/pico/button-group.scss";
@use "../components/pico/page.scss";

.ChipPage {
  --cols: 3;
  --screen-size: calc(512px + calc(var(--spacing) * 2));

  grid-template-rows: min-content auto;
  grid-template-columns: auto var(--screen-size) auto;
  justify-content: center;

  > article {
    box-sizing: content-box;
    border: var(--border-width) solid var(--card-border-color);
    border-radius: 0;
    margin: 0;

    > main {
      margin: 0 calc(-1 * var(--block-spacing-horizontal));
      margin-bottom: calc(-1 * var(--block-spacing-vertical));
    }

    &._test_panel > main .Editor {
      border-bottom: var(--border-width) solid var(--card-border-color);
    }
  }

  grid-template-areas:
    "sel sel tst"
    "hdl ins tst"
    "hdl ots tst"
    "hdl int tst"
    "hdl vis tst";

  ._selectors {
    grid-area: sel;
  }

  ._hdl_panel {
    grid-area: hdl;
  }

  ._input_panel {
    grid-area: ins;
  }

  ._output_panel {
    grid-area: ots;
  }

  ._internal_panel {
    grid-area: int;
  }

  ._test_panel {
    grid-area: tst;
  }

  ._visualization_panel {
    grid-area: vis;
  }

  h2 {
    margin: 0 var(--nav-element-spacing-horizontal);
  }
}

@media (max-width: 1616px) {
  .ChipPage {
    --cols: 2;
    grid-template-columns: auto var(--screen-size);

    grid-template-areas:
      "sel sel"
      "hdl ins"
      "hdl ots"
      "hdl int"
      "vis tst"
      "vis tst";
  }
}

@media (max-width: 1074px) {
  .ChipPage {
    --cols: 1;
    grid-template-columns: auto;

    grid-template-areas:
      "sel"
      "hdl"
      "ins"
      "ots"
      "int"
      "vis"
      "tst"
      "tst";
  }
}
