.Editor {
  display: flex;
  position: relative;
  height: calc(var(--line-height) * 10rem);

  textarea {
    flex: 1;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--form-element-disabled-background-color);
    opacity: var(--form-element-disabled-opacity);
  }
}
