table.pinout {
  th {
    font-weight: bold;
  }

  tbody {
    td:first-child {
      text-align: right;
      --font-size: 1rem;
      width: 0;
      white-space: nowrap;
      border-right: var(--border-width) solid var(--table-border-color);
    }

    button {
      --font-size: 0.875em;
      font-family: var(--font-family-monospace);
      max-width: 2em;

      &.increment {
        margin-left: var(--spacing);
      }
    }
  }
}
