.flex {
  display: flex;
  flex-direction: column;

  &.row {
    flex-direction: row;

    &.inline > * {
      display: inline-block;
    }
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-baseline {
    align-items: baseline;
  }

  &.align-center {
    align-items: center;
  }

  &.align-stretch {
    align-items: stretch;
  }

  &.align-end {
    align-items: end;
  }
}

@for $i from 1 through 4 {
  .flex-#{$i} {
    flex: $i;
  }
}
