dl {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(auto, 2fr);

  > header {
    grid-column: 1 / span 2;
    font-weight: bold;
    background-color: var(--muted-color);
    color: var(--primary-inverse);
    padding: var(--form-element-spacing-vertical)
      var(--form-element-spacing-horizontal);
  }

  dt {
    grid-column-start: 1;
  }

  dd {
    grid-column-start: 2;
    margin: 0;
  }

  dd,
  dt {
    padding: var(--form-element-spacing-vertical)
      var(--form-element-spacing-horizontal);
    border: 1px solid var(--muted-border-color);

    &:nth-of-type(even) {
      background-color: var(--table-row-stripped-background-color);
    }
  }
}
