@use "../pico/button-group.scss";
@use "../shell/tab.scss";

.AsmPage {
  height: 100%;

  margin: 0px;
  gap: 0;

  grid-template-areas: "source result compare" "source sym compare";
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;

  &.hide-sym {
    grid-template-rows: 1fr auto;
  }

  .source {
    grid-area: source;
  }

  .result {
    grid-area: result;
  }

  .compare {
    grid-area: compare;
  }

  .sym {
    grid-area: sym;
  }
}
