@use "../pico/button-group.scss";
@use "../shell/tab.scss";

.ChipPage {
  h2 {
    margin: 0 var(--nav-element-spacing-horizontal);
  }

  --screen-size: calc(512px + calc(var(--block-spacing-horizontal) * 5));

  height: 100%;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr var(--screen-size) 1fr;
  margin: 0px;
  gap: 0;

  grid-template-areas: "hdl prt tst";

  ._hdl_panel {
    grid-area: hdl;
    min-height: calc(var(--line-height) * 10rem);
  }

  ._test_panel {
    grid-area: tst;
  }

  ._parts_panel {
    grid-area: prt;
  }
}

@media (max-width: 1616px) {
  .ChipPage {
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr var(--screen-size);

    grid-template-areas:
      "hdl prt"
      "tst tst";

    ._test_panel {
      grid-area: tst;

      main {
        > .Editor {
          max-height: 50%;
        }
      }
    }
  }
}

@media (max-width: 1074px) {
  .ChipPage {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;

    grid-template-areas:
      "hdl"
      "prt"
      "tst";

    ._test_panel {
      grid-area: tst;

      main {
        > .Editor {
          max-height: 40%;
        }
      }
    }
  }
}
