@use "./page.scss";

.CompilerPage {
  grid-template-columns: 1fr 7fr !important;
  grid-template-areas: "files code";

  .files {
    grid-area: files;
  }

  .code {
    grid-area: code;
  }
}

.file-entry {
  border: 1px solid var(--light-grey);

  .button {
    background-color: var(--light-grey);
  }
}
