@use "../pico/button-group.scss";
@use "../shell/tab.scss";

.Page {
  h2 {
    margin: 0 var(--nav-element-spacing-horizontal);
  }

  --screen-size: calc(512px + calc(var(--block-spacing-horizontal) * 5));

  height: 100%;

  margin: 0px;
  gap: 0;
}
