@use "./page.scss";

.VmPage {
  grid-template-columns:
    1fr calc(var(--screen-size) * 0.5) calc(var(--screen-size) * 0.5)
    1fr !important;
  grid-template-rows: auto 1fr 4fr !important;
  grid-template-areas:
    "program display display test"
    "program stack RAM test"
    "vm stack RAM test";

  .program {
    grid-area: program;
  }

  .vm {
    grid-area: vm;
  }

  .display {
    grid-area: display;
  }

  .memory.Stack {
    grid-area: stack;
  }

  .memory.RAM {
    grid-area: RAM;
  }

  ._test_panel {
    grid-area: test;
  }

  tbody {
    font-family: var(--font-family-monospace);
  }

  tr.highlight {
    background-color: antiquewhite;
  }
}
