#trackingBanner {
  background-color: ghostwhite;
  border-top: 1px solid black;
  position: absolute;
  padding: var(--spacing);
  bottom: 0;
  left: 0;
  right: 0;

  [role="button"] {
    &.accept {
      color: black;
      background-color: lightgreen;
    }

    &.reject {
      color: black;
      background-color: lightpink;
    }
  }
}
